#resources {
  .ani5 {
    position: relative;
  }
  h2 {
    font-size: 64px;
    @include responsive(lessthansmall) {
      font-size: 44px;
      margin: 12px 0 0 0;
    }
  }
  .row {
    margin: 0;
  }
  .content-col {
    padding: 0;
    h2,
    h3 {
      font-family: 'GothamBold';
    }
    p {
      margin: 20px auto;
      font-family: 'GothamNarrowBook';
      font-size: 20px;
      line-height: 1.5;
      @include responsive(lessthansmall) {
        font-size: 18px;
        line-height: 1.7;
      }
      &:last-child {
        @include responsive(lessthansmall) {
          margin-bottom: 0px;
        }
      }
    }
    .feature-img-wrap {
      overflow: hidden;
      .feature-img {
        transition: all 0.6s ease;
        padding: 0px;
      }
    }
  }
  .inner-col {
    text-align: center;
    padding: 0px;
    img {
      margin: 0 auto;
      @include responsive(lessthansmall) {
        width: 44px;
      }
    }
    &.first-item {
      padding: 5% 10%;
      @include responsive(lessthansmall) {
        padding: 60px 28px;
      }
    }
    .ani4 {
      position: relative;
    }
  }
  .resource-wrapper {
    padding: 80px 12% 60px 12%;
    h4 {
      font-family: 'GothamBold';
      font-size: 25px;
      line-height: 1.2;
      color: $midnightBlue;
      @include responsive(lessthansmall) {
        font-size: 22px;
        line-height: 1.4;
        margin-top: 0;
      }
    }
    .smCol {
      padding-left: 0px;
      padding-right: 20px;
      ul {
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
    }
    ul {
      list-style-type: none;
      list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
      padding: 0 5px 30px 0;
      li {
        font-family: 'GothamBook';
        font-size: 16px;
        line-height: 1.5;
        padding-bottom: 15px;
        @include responsive(lessthansmall) {
          padding-bottom: 12px;
          line-height: 1.8;
        }
      }
    }
    a {
      color: $medBlue;
      &.dLoad {
        position: relative;
        margin-left: 30px;
        &:before {
          content: ' ';
          position: absolute;
          left: -28px;
          background: url(../images/icon_download.png) left bottom no-repeat;
          height: 20px;
          width: 28px;
          margin-bottom: 0px;
        }
      }
      &.fLink {
        position: relative;
        margin-left: 14px;
        &:before {
          content: ' ';
          position: absolute;
          left: -10px;
          background: url(../images/icon_caret.png) left bottom no-repeat;
          height: 16px;
          width: 10px;
          margin-bottom: 0px;
        }
      }
    }
    @include responsive(lessthansmall) {
      padding: 60px 28px 60px 28px;
    }
  }
  .dload-app-container {
    margin-top: 60px;
    text-align: center;
    h4 {
      margin-bottom: 25px;
    }
    img {
      padding: 3px;
    }
    @include responsive(lessthansmall) {
      margin-top: 40px;
    }
  }
}
